<div
  class="toggle"
  [class.toggle--active]="(isActive && !isPending) || (!isActive && isPending)"
  [class.toggle--pending]="isPending"
  [class.toggle--disabled]="isDisabled"
  (click)="onToggle()"
>
  <span
    class="toggle__switch"
    [class.toggle__switch--disabled]="isDisabled"
    [class.toggle__switch--active]="(isActive && !isPending) || (!isActive && isPending)"
  >
    <sk-icon *ngIf="isActive && !isPending" icon="check"></sk-icon>
    <sk-icon *ngIf="!isActive && !isPending" icon="remove"></sk-icon>
    <sk-icon *ngIf="isPending" [isReverse]="isActive && isPending" [isSpinning]="true" icon="spinner"></sk-icon>
  </span>
</div>
