<sk-top-bar name="Checkbox Input">
  <ui-button (click)="onToggleError()" type="error">Toggle error</ui-button>
  <ui-button (click)="onToggleChecked()" type="success">Toggle checked</ui-button>
  <ui-button (click)="onToggleDisabled()" type="neutral">Toggle Disabled</ui-button>
</sk-top-bar>

<sk-row>
  <sk-column>
    <sk-checkbox-input [formControl]="formControl">
      I am a checkbox input
      <span slot="error">Dit veld is verplicht</span>
    </sk-checkbox-input>

    <sk-checkbox-input [formControl]="formControl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <span slot="error">Dit veld is verplicht</span>
    </sk-checkbox-input>
  </sk-column>
</sk-row>
