<div class="time-input__container">
  <input
    (blur)="onTouched()"
    (ngModelChange)="onValueChange($event)"
    [class.time-input--error]="control.touched && control.invalid"
    [disabled]="isDisabled"
    [id]="name"
    [ngModel]="value"
    class="time-input"
    type="time"
  />
  <div (click)="onClear()" *ngIf="!!value" class="time-input__clear">
    <ui-icon icon="close"></ui-icon>
  </div>
</div>

<sk-input-error *ngIf="control.touched && control.invalid">
  <ng-content select="[slot=error]"></ng-content>
</sk-input-error>
