<sk-top-bar name="Homepage">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
  <ui-button icon="search" type="neutral">Button</ui-button>
  <ui-button icon="add">Action slot button</ui-button>
</sk-top-bar>

<!--TODO  : Split in homepage/dashboard with jumbotron and statistics and layout page with bars-->
<sk-row>
  <sk-column>
    <sk-jumbotron description="This is the subtitle of the jumbotron" name="Jumbotron"></sk-jumbotron>
  </sk-column>
</sk-row>

<ui-bottom-bar>
  <ui-button alignIcon="left" icon="angle-left" slot="left" type="light">Left button</ui-button>
  <ui-button icon="close" type="error">Cancel</ui-button>
  <ui-button icon="angle-right" type="success">Continue</ui-button>
</ui-bottom-bar>
