<sk-top-bar name="Homepage">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
  <sk-button type="neutral" icon="search">Button</sk-button>
  <sk-button icon="add">Action slot button</sk-button>
</sk-top-bar>

<sk-row>
  <sk-column>
    <sk-jumbotron name="Jumbotron" description="This is the subtitle of the jumbotron"></sk-jumbotron>
  </sk-column>
</sk-row>

<sk-bottom-bar>
  <sk-button icon="angle-left" slot="left" alignIcon="left" type="light">Left button</sk-button>
  <sk-button type="error" icon="close">Cancel</sk-button>
  <sk-button type="success" icon="angle-right">Continue</sk-button>
</sk-bottom-bar>
