<h1>Home page</h1>

<sk-alert type="success">I am an alert</sk-alert>
<sk-alert type="info">I am an alert</sk-alert>
<sk-alert type="warning">I am an alert</sk-alert>
<sk-alert type="error">I am an alert</sk-alert>
<sk-alert type="special">I am an alert</sk-alert>
<sk-alert type="primary">I am an alert</sk-alert>
<sk-alert type="secondary">I am an alert</sk-alert>
<sk-alert type="neutral">I am an alert</sk-alert>
<sk-alert type="light">I am an alert</sk-alert>
<sk-alert type="dark">I am an alert</sk-alert>
