<input
  #input
  (change)="onValueChange($event)"
  [attr.multiple]="canSelectMultiple ? 'multiple' : undefined"
  [disabled]="isDisabled"
  [id]="name"
  class="password-input"
  type="file"
/>

<div [class.file-input--error]="control.touched && control.invalid" class="file-input">
  <div
    (dragleave)="onDragLeave()"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    [class.file-input__upload--drag-over]="hasDragOver"
    class="file-input__upload"
  >
    <!--TODO : Make configurable-->
    <span class="file-input__description">Drag & drop one or multiple files or browse...</span>

    <ui-button (buttonClick)="input.click()" icon="search">Browse</ui-button>
  </div>

  <div *ngIf="value.length > 0" class="file-input__files">
    <div *ngFor="let file of value; index as index" class="file-input__file">
      <span class="file-input__file-icon">
        <ui-icon icon="description"></ui-icon>
      </span>
      <span class="file-input__file-name">
        {{ file.name }}
      </span>
      <span
        (click)="onDeleteFile(index)"
        (keydown.enter)="onDeleteFile(index)"
        class="file-input__file-icon file-input__file-icon--delete"
        tabindex="0"
      >
        <ui-icon icon="trash"></ui-icon>
      </span>
    </div>
  </div>
</div>

<ui-input-error *ngIf="control.touched && control.invalid">
  <ng-content select="[slot=error]"></ng-content>
</ui-input-error>
