<div class="table__container">
  <table [class.table--striped]="isStriped" class="table">
    <!--TODO : Add caption / aria description to table-->
    <thead>
      <tr>
        <th
          (click)="onCheckAll()"
          (keydown.enter)="onCheckAll()"
          *ngIf="canCheckRow"
          class="table__check-all"
          tabindex="0"
        >
          <ui-icon *ngIf="!allChecked" icon="square" iconSet="regular"></ui-icon>
          <ui-icon *ngIf="allChecked" icon="square-check" iconSet="regular"></ui-icon>
        </th>
        <ng-container *ngFor="let column of columns">
          <th>
            <span
              (click)="onSortColumn(column.key)"
              (keydown.enter)="onSortColumn(column.key)"
              [class.table__column--active]="sortedColumn?.key === column.key"
              [class.table__column--sortable]="sortableColumns.includes(column.key)"
              [class.table__column--status]="!!column.status"
              class="table__column"
              tabindex="0"
            >
              {{ column.label }}
              <span
                *ngIf="sortableColumns?.includes(column.key) || !!sortedColumn"
                [class.table__sort-icon]="sortedColumn?.key === column.key && sortedColumn?.direction !== 'None'"
                class="table__sort-icon"
              >
                <ui-icon
                  *ngIf="sortedColumn?.key === column.key && sortedColumn?.direction === 'ASC'"
                  icon="arrow-down"
                ></ui-icon>
                <ui-icon
                  *ngIf="sortedColumn?.key === column.key && sortedColumn?.direction === 'DESC'"
                  icon="arrow-up"
                ></ui-icon>
                <ui-icon
                  *ngIf="
                    (sortableColumns?.includes(column.key) && sortedColumn?.key !== column.key) ||
                    (sortableColumns?.includes(column.key) && sortedColumn?.direction === 'None')
                  "
                  icon="sort"
                ></ui-icon>
              </span>
            </span>
          </th>
        </ng-container>
        <th *ngIf="actions.length > 0">&nbsp;</th>
        <th *ngIf="!!toggleAction">{{ toggleAction.label }}</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr *ngIf="rows?.length === 0 && !isLoading" class="table__empty">
        <td colspan="100%">No {{ dataName?.toLowerCase() ?? "results" }} found...</td>
      </tr>
      <tr
        (click)="onRowClick(row)"
        (keydown.enter)="onRowClick(row)"
        *ngFor="let row of rows; index as index"
        [class.table__row--clickable]="canSelectRow"
        class="table__row"
        tabindex="0"
      >
        <td
          (click)="onCheckRow($event, row)"
          (keydown.enter)="onCheckRow($event, row)"
          *ngIf="canCheckRow"
          [class.table__checkbox-cell--checked]="checkedRows.includes(row)"
          class="table__checkbox-cell"
          tabindex="0"
        >
          <ui-icon *ngIf="!checkedRows.includes(row)" icon="square" iconSet="regular"></ui-icon>
          <ui-icon *ngIf="checkedRows.includes(row)" icon="square-check" iconSet="regular"></ui-icon>
        </td>
        <td
          *ngFor="let column of columns"
          [class.table__cell--highlight]="column.highlight"
          [class.table__cell--icon]="column.icon"
          [class.table__cell--status]="!!column.status"
          class="table__cell"
        >
          <ui-icon *ngIf="column.icon" [icon]="column.icon(row)"></ui-icon>
          <ui-pill
            *ngIf="!!column.status && column.status(row)"
            [icon]="!!column.statusIcon ? column.statusIcon(row) : undefined"
            [type]="column.status(row)"
          >
            <ng-container *ngIf="!column.format">{{ row[column.key] }}</ng-container>
            <ng-container *ngIf="column.format">{{ column.format(row) }}</ng-container>
          </ui-pill>
          <ng-container *ngIf="!column.status && !column.format && !column.icon">{{ row[column.key] }}</ng-container>
          <ng-container *ngIf="!column.status && column.format">{{ column.format(row) }}</ng-container>
        </td>
        <td *ngIf="actions.length > 0" class="table__action-cell">
          <div class="table__action-cell-action">
            <ng-container *ngFor="let action of actions">
              <ui-button
                (click)="onAction($event, action, row)"
                (keydown.enter)="onAction($event, action, row)"
                *ngIf="!(action.isDisabled && action.isDisabled(row))"
                [attr.iconSet]="action.iconSet"
                [compact]="true"
                [icon]="action.icon"
                [noShadow]="true"
                [title]="action.label"
                tabindex="-1"
                type="light"
              ></ui-button>
            </ng-container>
          </div>
        </td>
        <td *ngIf="!!toggleAction" class="table__action-cell">
          <ui-toggle
            (toggleClick)="onToggle(row, index)"
            [isActive]="toggleAction.isActive(row)"
            [isPending]="isPending(index)"
          ></ui-toggle>
        </td>
      </tr>
    </tbody>
  </table>
</div>
