<div
  (click)="onSelect()"
  (keydown.enter)="onSelect()"
  [class.advanced-radio-option--error]="type === 'error'"
  [class.advanced-radio-option--info]="type === 'info'"
  [class.advanced-radio-option--neutral]="type === 'neutral'"
  [class.advanced-radio-option--selected]="isSelected"
  [class.advanced-radio-option--special]="type === 'special'"
  [class.advanced-radio-option--success]="type === 'success'"
  [class.advanced-radio-option--warning]="type === 'warning'"
  class="advanced-radio-option"
  tabindex="0"
>
  <div class="advanced-radio-option__header">
    <input class="advanced-radio-option__input" type="radio" />
    <span class="advanced-radio-option__icon">
      <ui-icon *ngIf="!isSelected" icon="circle" iconSet="regular"></ui-icon>
      <ui-icon *ngIf="isSelected" icon="circle-dot" iconSet="regular"></ui-icon>
    </span>
    <h4 class="advanced-radio-option__label">{{ label }}</h4>
  </div>
  <div class="advanced-radio-option__body">
    <ng-content></ng-content>
  </div>
</div>
