<sk-top-bar name="Tag">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
</sk-top-bar>

<sk-row>
  <ui-column>
    <ui-card name="Tags">
      <ui-bar>
        <ui-tag>Some tag</ui-tag>
        <ui-tag icon="skull">Tag with icon</ui-tag>
        <ui-tag alignIcon="left" icon="skull">Tag with icon left</ui-tag>
        <ui-tag (selectTag)="onSelectTag()">Tag with select</ui-tag>
        <ui-tag (selectTag)="onSelectTag()" icon="angle-right">Tag with select and icon right</ui-tag>
        <ui-tag (selectTag)="onSelectTag()" alignIcon="left" icon="search">Tag with select and icon left</ui-tag>
      </ui-bar>
    </ui-card>
  </ui-column>
</sk-row>
