<div [class.data-table--no-margin]="hasNoMargin" class="data-table">
  <div *ngIf="segments && searchKey" class="data-table__segments">
    <sk-segment-group [initialSegmentValue]="initialSegmentValue">
      <sk-segment
        (selectSegment)="onSelectSegment(segment)"
        *ngFor="let segment of segments.segments"
        [value]="segment.value"
      >
        {{ segment.label }}
      </sk-segment>
    </sk-segment-group>
  </div>

  <div class="data-table__header">
    <span *ngIf="searchKey || segments" class="data-table__search">
      <sk-segment-group *ngIf="!searchKey && segments" [initialSegmentValue]="initialSegmentValue">
        <sk-segment
          (selectSegment)="onSelectSegment(segment)"
          *ngFor="let segment of segments.segments"
          [value]="segment.value"
        >
          {{ segment.label }}
        </sk-segment>
      </sk-segment-group>
      <sk-search
        (clear)="onClearSearch()"
        (search)="onSearch($event)"
        *ngIf="searchKey"
        [dataName]="dataName"
        [field]="searchField"
        [isDisabled]="!response"
      ></sk-search>
    </span>
    <sk-filter
      (filter)="onFilter($event)"
      *ngIf="(response?.filterable?.length ?? 0 > 0) && filters.length > 0"
      [dataName]="dataName"
      [filterConfigurations]="filters"
      [filters]="filterSegments(response?.filters ?? [])"
      [isLoading]="isPending"
      [options]="response?.filterable ?? []"
    ></sk-filter>
    <ui-button
      *ngIf="(filters?.length ?? 0 > 0) && !(response?.filterable?.length ?? 0 > 0)"
      [disabled]="true"
      icon="filter"
      type="light"
    >
      Filter
    </ui-button>
    <ui-button
      (click)="onBatchAction(action)"
      *ngFor="let action of batchActions"
      [disabled]="checkedRows.length === 0"
      [icon]="action.icon"
      type="light"
    >
      {{ action.label }}
    </ui-button>
  </div>

  <sk-table
    (selectRow)="onRowClick($event)"
    (sortColumn)="onSort($event)"
    [(checkedRows)]="checkedRows"
    [actions]="rowActions"
    [canCheckRow]="batchActions.length > 0"
    [canSelectRow]="rowClick.observed"
    [columns]="columns"
    [dataName]="dataName"
    [isLoading]="isPending"
    [isStriped]="isStriped"
    [rows]="response?.items ?? []"
    [sortableColumns]="response?.sortable ?? []"
    [sortedColumn]="response?.sort"
    [toggleAction]="toggleAction"
  ></sk-table>

  <sk-pagination (request)="onPagination($event)" *ngIf="response" [state]="response.pagination"></sk-pagination>
</div>
