<div class="data-table" [class.data-table--no-margin]="hasNoMargin">
  <div class="data-table__segments" *ngIf="segments && searchKey">
    <sk-segment-group [initialSegmentValue]="initialSegmentValue">
      <sk-segment
        *ngFor="let segment of segments.segments"
        [value]="segment.value"
        (selectSegment)="onSelectSegment(segment)"
      >
        {{ segment.label }}
      </sk-segment>
    </sk-segment-group>
  </div>

  <div class="data-table__header">
    <span class="data-table__search" *ngIf="searchKey || segments">
      <sk-segment-group *ngIf="!searchKey && segments" [initialSegmentValue]="initialSegmentValue">
        <sk-segment
          *ngFor="let segment of segments.segments"
          [value]="segment.value"
          (selectSegment)="onSelectSegment(segment)"
        >
          {{ segment.label }}
        </sk-segment>
      </sk-segment-group>
      <sk-search
        *ngIf="searchKey"
        [isDisabled]="!response"
        [field]="searchField"
        [dataName]="dataName"
        (search)="onSearch($event)"
        (clear)="onClearSearch()"
      ></sk-search>
    </span>
    <sk-filter
      *ngIf="(response?.filterable?.length ?? 0 > 0) && filters.length > 0"
      [isLoading]="state.isPending"
      [filterConfigurations]="filters"
      [options]="response?.filterable ?? []"
      [filters]="filterSegments(response?.filters ?? [])"
      [dataName]="dataName"
      (filter)="onFilter($event)"
    ></sk-filter>
    <sk-button
      *ngIf="(filters?.length ?? 0 > 0) && !(response?.filterable?.length ?? 0 > 0)"
      [disabled]="true"
      type="light"
      icon="filter"
    >
      Filter
    </sk-button>
    <sk-button
      *ngFor="let action of batchActions"
      [disabled]="checkedRows.length === 0"
      [icon]="action.icon"
      type="light"
      (click)="onBatchAction(action)"
    >
      {{ action.label }}
    </sk-button>
  </div>

  <sk-table
    [isStriped]="isStriped"
    [rows]="response?.items ?? []"
    [columns]="columns"
    [dataName]="dataName"
    [sortableColumns]="response?.sortable ?? []"
    [canSelectRow]="rowClick.observed"
    [canCheckRow]="batchActions.length > 0"
    [actions]="rowActions"
    [toggleAction]="toggleAction"
    [(checkedRows)]="checkedRows"
    (selectRow)="onRowClick($event)"
    [sortedColumn]="response?.sort"
    (sortColumn)="onSort($event)"
    [isLoading]="state.isPending"
  ></sk-table>

  <sk-pagination *ngIf="response" [state]="response.pagination" (request)="onPagination($event)"></sk-pagination>
</div>
