<div
  (click)="onTouched()"
  [class.multi-select-input--collapsed]="!showOptions"
  [class.multi-select-input--error]="hasError && !showOptions"
  class="multi-select-input"
>
  <div
    #selectBox
    (click)="onToggleShowOptions()"
    (keydown.enter)="onToggleShowOptions()"
    [class.multi-select-input__select--disabled]="isDisabled"
    [class.multi-select-input__select--error]="hasError"
    [class.multi-select-input__select--expanded]="showOptions"
    class="multi-select-input__select"
    tabindex="0"
  >
    <div class="multi-select-input__select-label">
      <span *ngIf="value.length === 0" class="multi-select-input__placeholder">{{ placeholder }}</span>
      <sk-tag
        (selectTag)="onClickTag($event, selectedOption)"
        *ngFor="let selectedOption of selectedOptions"
        icon="close"
      >
        {{ selectedOption.label }}
      </sk-tag>
    </div>

    <div (click)="onClear($event)" *ngIf="!showOptions && value.length > 0" class="multi-select-input__clear-icon">
      <sk-icon icon="close"></sk-icon>
    </div>

    <div class="multi-select-input__expand-icon">
      <sk-icon *ngIf="!showOptions" icon="angle-down"></sk-icon>
      <sk-icon *ngIf="showOptions" icon="angle-up"></sk-icon>
    </div>
  </div>

  <div *ngIf="showOptions" class="multi-select-input__options">
    <div *ngIf="contentOptions.length > 4" class="multi-select-input__options-search">
      <sk-select-search (clear)="onSearchClear()" (search)="onSearch($event)"></sk-select-search>
    </div>
    <div #scrollBody class="multi-select-input__options-body">
      <sk-select-option
        (deselectOption)="onDeselectOption(option)"
        (selectOption)="onSelectOption(option)"
        *ngFor="let option of renderedOptions"
        [description]="option.description"
        [isMulti]="true"
        [isSelected]="option.isSelected"
        [label]="option.label"
        [value]="option.value"
      ></sk-select-option>

      <div *ngIf="renderedOptions.length === 0" class="multi-select-input__empty-body">No results...</div>
    </div>
    <div class="multi-select-input__options-footer">
      <sk-bar [growChildren]="true" [noGap]="true">
        <ui-button
          (click)="onCancel()"
          [flipIcon]="true"
          [fullWidth]="true"
          [isSharp]="true"
          icon="rotate-right"
          type="light"
        >
          Undo
        </ui-button>
        <ui-button
          (click)="onReset()"
          [disabled]="backupValue.length === 0"
          [fullWidth]="true"
          [isSharp]="true"
          icon="close"
          type="light"
        >
          Clear
        </ui-button>
        <ui-button (click)="onApply()" [fullWidth]="true" [isSharp]="true" icon="check">Apply</ui-button>
      </sk-bar>
    </div>
  </div>
</div>

<sk-input-error *ngIf="hasError && !showOptions">
  <ng-content select="[slot=error]"></ng-content>
</sk-input-error>
