<sk-top-bar name="Icon"></sk-top-bar>

<sk-row>
  <sk-column>
    Some Icons
    <ui-bar>
      <sk-icon></sk-icon>
      <sk-icon icon="home"></sk-icon>
      <sk-icon icon="star"></sk-icon>
    </ui-bar>

    IconSet 'regular'
    <ui-bar>
      <sk-icon icon="user" iconSet="regular"></sk-icon>
      <sk-icon icon="square-check" iconSet="regular"></sk-icon>
      <sk-icon icon="star" iconSet="regular"></sk-icon>
    </ui-bar>

    Spinning
    <ui-bar>
      <sk-icon [isSpinning]="true"></sk-icon>
      <sk-icon [isSpinning]="true" icon="spinner"></sk-icon>
      <sk-icon [isSpinning]="true" icon="star"></sk-icon>
    </ui-bar>

    Reverse Spinning
    <ui-bar>
      <sk-icon [isReverse]="true" [isSpinning]="true"></sk-icon>
      <sk-icon [isReverse]="true" [isSpinning]="true" icon="spinner"></sk-icon>
      <sk-icon [isReverse]="true" [isSpinning]="true" icon="star"></sk-icon>
    </ui-bar>
  </sk-column>
</sk-row>
