<sk-top-bar name="Icon"></sk-top-bar>

<sk-row>
  <ui-column>
    Some Icons
    <ui-bar>
      <ui-icon></ui-icon>
      <ui-icon icon="home"></ui-icon>
      <ui-icon icon="star"></ui-icon>
    </ui-bar>

    IconSet 'regular'
    <ui-bar>
      <ui-icon icon="user" iconSet="regular"></ui-icon>
      <ui-icon icon="square-check" iconSet="regular"></ui-icon>
      <ui-icon icon="star" iconSet="regular"></ui-icon>
    </ui-bar>

    Spinning
    <ui-bar>
      <ui-icon [isSpinning]="true"></ui-icon>
      <ui-icon [isSpinning]="true" icon="spinner"></ui-icon>
      <ui-icon [isSpinning]="true" icon="star"></ui-icon>
    </ui-bar>

    Reverse Spinning
    <ui-bar>
      <ui-icon [isReverse]="true" [isSpinning]="true"></ui-icon>
      <ui-icon [isReverse]="true" [isSpinning]="true" icon="spinner"></ui-icon>
      <ui-icon [isReverse]="true" [isSpinning]="true" icon="star"></ui-icon>
    </ui-bar>
  </ui-column>
</sk-row>
