<sk-top-bar name="Toggle Component">
  <ui-button (click)="isDisabled = !isDisabled">{{ isDisabled ? 'Enable' : 'Disable' }}</ui-button>
</sk-top-bar>

<sk-row>
  <sk-column>
    Working Toggle
    <sk-toggle
      (toggleClick)="onToggle()"
      [isActive]="isActive"
      [isDisabled]="isDisabled"
      [isPending]="isPending"
    ></sk-toggle>

    Active
    <sk-bar>
      <sk-toggle [isActive]="false"></sk-toggle>
      <sk-toggle [isActive]="true"></sk-toggle>
    </sk-bar>

    Disabled
    <sk-bar>
      <sk-toggle [isActive]="false" [isDisabled]="true"></sk-toggle>
      <sk-toggle [isActive]="true" [isDisabled]="true"></sk-toggle>
    </sk-bar>

    Pending
    <sk-bar>
      <sk-toggle [isActive]="false" [isPending]="true"></sk-toggle>
      <sk-toggle [isActive]="true" [isPending]="true"></sk-toggle>
    </sk-bar>
  </sk-column>
</sk-row>
