<sk-top-bar name="Toggle Component">
  <ui-button (buttonClick)="isDisabled = !isDisabled">{{ isDisabled ? 'Enable' : 'Disable' }}</ui-button>
</sk-top-bar>

<sk-row>
  <sk-column>
    Working Toggle
    <ui-toggle
      (toggleClick)="onToggle()"
      [isActive]="isActive"
      [isDisabled]="isDisabled"
      [isPending]="isPending"
    ></ui-toggle>

    Active
    <ui-bar>
      <ui-toggle [isActive]="false"></ui-toggle>
      <ui-toggle [isActive]="true"></ui-toggle>
    </ui-bar>

    Disabled
    <ui-bar>
      <ui-toggle [isActive]="false" [isDisabled]="true"></ui-toggle>
      <ui-toggle [isActive]="true" [isDisabled]="true"></ui-toggle>
    </ui-bar>

    Pending
    <ui-bar>
      <ui-toggle [isActive]="false" [isPending]="true"></ui-toggle>
      <ui-toggle [isActive]="true" [isPending]="true"></ui-toggle>
    </ui-bar>
  </sk-column>
</sk-row>
