@use "@standardkit/ui/colors";
@use "@standardkit/ui/fonts";

.accordion-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 1px solid colors.$gray-10;
  background-color: transparent;
  cursor: pointer;
  padding: 16px 24px;
  width: 100%;
  text-align: left;
  line-height: 20px;
  color: colors.$primary;
  font-size: fonts.$text-size-l;
  font-weight: bold;
  user-select: none;
}

.accordion-item__icon {
  color: colors.$gray-50;
  font-weight: bold;
}

.accordion-item__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 24px 24px;

  &--no-padding {
    padding: 0 0 24px;
  }
}
