<ui-top-bar name="Alert"></ui-top-bar>

<ui-row>
  <ui-column>
    <ui-bar [isVertical]="true">
      <ui-alert type="success"><ui-icon icon="circle-check" slot="icon"></ui-icon>I am an alert with icon</ui-alert>
      <ui-alert type="info">I am an alert</ui-alert>
      <ui-alert type="warning">I am an alert</ui-alert>
      <ui-alert type="error">I am an alert</ui-alert>
      <ui-alert type="special">I am an alert</ui-alert>
      <ui-alert type="primary">I am an alert</ui-alert>
      <ui-alert type="secondary"><ui-icon icon="star" slot="icon"></ui-icon>I am an alert with icon</ui-alert>
      <ui-alert type="neutral">I am an alert</ui-alert>
      <ui-alert type="light">I am an alert</ui-alert>
      <ui-alert type="dark">I am an alert</ui-alert>

      <ui-alert>
        <ui-icon icon="triangle-exclamation" slot="icon"></ui-icon>
        <strong>I am alert with icon and lots of text</strong><br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
      </ui-alert>
    </ui-bar>
  </ui-column>
</ui-row>
