<div
  (click)="onSelectOption()"
  (keydown.enter)="onSelectOption()"
  [class.select-option--multi]="isMulti"
  [class.select-option--selected]="isSelected"
  [id]="value"
  class="select-option"
  tabindex="0"
>
  <span *ngIf="isMulti" class="select-option__checkbox">
    <ui-icon *ngIf="isSelected" icon="square-check" iconSet="regular"></ui-icon>
    <ui-icon *ngIf="!isSelected" icon="square" iconSet="regular"></ui-icon>
  </span>
  <div class="select-option__content">
    <span>{{ label }}</span>
    <span
      *ngIf="description"
      [class.select-option__description--selected]="isSelected"
      class="select-option__description"
    >
      {{ description }}
    </span>
  </div>
</div>
