<div class="search">
  <div class="search__input-container">
    <div class="search__icon">
      <sk-icon icon="search"></sk-icon>
    </div>
    <div class="search__icon search__icon--clear" *ngIf="query" (click)="onClear()">
      <sk-icon icon="close"></sk-icon>
    </div>
    <!--TODO : Make the text configurable-->
    <input
      class="search__input"
      #input
      autofocus="autofocus"
      [(ngModel)]="query"
      [disabled]="isDisabled"
      type="text"
      [placeholder]="
        field ? 'Search for ' + field.toLowerCase() + '...' : 'Search in ' + dataName?.toLowerCase() + '...'
      "
      (keydown.enter)="onSearch()"
    />
  </div>
  <!--TODO : Button text configurable-->
  <sk-button icon="search" type="light" [disabled]="isDisabled" (click)="onSearch()">Search</sk-button>
</div>
