<div class="search">
  <div class="search__input-container">
    <div class="search__icon">
      <sk-icon icon="search"></sk-icon>
    </div>
    <div (click)="onClear()" *ngIf="query" class="search__icon search__icon--clear">
      <sk-icon icon="close"></sk-icon>
    </div>
    <!--TODO : Make the text configurable-->
    <input
      #input
      (keydown.enter)="onSearch()"
      [(ngModel)]="query"
      [disabled]="isDisabled"
      [placeholder]="
        field ? 'Search for ' + field.toLowerCase() + '...' : 'Search in ' + dataName?.toLowerCase() + '...'
      "
      class="search__input"
      type="text"
    />
  </div>
  <!--TODO : Button text configurable-->
  <ui-button (click)="onSearch()" [disabled]="isDisabled" icon="search" type="light">Search</ui-button>
</div>
