<div class="search">
  <div class="search__input-container">
    <div class="search__icon">
      <ui-icon icon="search"></ui-icon>
    </div>
    <div
      (click)="onClear()"
      (keydown.enter)="onClear()"
      *ngIf="query"
      class="search__icon search__icon--clear"
      tabindex="0"
    >
      <ui-icon icon="close"></ui-icon>
    </div>
    <!--TODO : Make the text configurable-->
    <input
      #input
      (keydown.enter)="onSearch()"
      [(ngModel)]="query"
      [disabled]="isDisabled"
      [placeholder]="
        field ? 'Search for ' + field.toLowerCase() + '...' : 'Search in ' + dataName?.toLowerCase() + '...'
      "
      class="search__input"
      type="text"
    />
  </div>
  <!--TODO : Button text configurable-->
  <ui-button (buttonClick)="onSearch()" [disabled]="isDisabled" icon="search" type="light">Search</ui-button>
</div>
