<ui-card name="Authentication">
  <ui-form (submitForm)="onSubmit()" [formGroup]="form">
    <ui-field name="username">
      <ui-label>Username</ui-label>
      <ui-text-input formControlName="username"></ui-text-input>
    </ui-field>

    <ui-field name="password">
      <ui-label>Password</ui-label>
      <ui-password-input formControlName="password"></ui-password-input>
    </ui-field>

    <ui-button [fullWidth]="true" [isSubmit]="true">Login</ui-button>
  </ui-form>

  <ui-bar [isVertical]="true" align="center" slot="footer">
    <ui-link>Forgot your password</ui-link>
    <ui-link>Forgot my email address</ui-link>
  </ui-bar>
</ui-card>
