<div
  class="alert"
  [class.alert--success]="type === 'success'"
  [class.alert--info]="type === 'info'"
  [class.alert--warning]="type === 'warning'"
  [class.alert--error]="type === 'error'"
  [class.alert--neutral]="type === 'neutral'"
  [class.alert--special]="type === 'special'"
  [class.alert--light]="type === 'light'"
  [class.alert--dark]="type === 'dark'"
  [class.alert--primary]="type === 'primary'"
  [class.alert--secondary]="type === 'secondary'"
  [class.alert--no-shadow]="hasNoShadow"
>
  <!--  <span class="alert__icon">-->
  <!--    <sk-icon *ngIf="type === 'error'" icon="error"></sk-icon>-->
  <!--    <sk-icon *ngIf="type === 'success'" icon="check_circle"></sk-icon>-->
  <!--    <sk-icon *ngIf="type === 'warning'" icon="error"></sk-icon>-->
  <!--    <sk-icon *ngIf="type === 'info'" icon="info"></sk-icon>-->
  <!--    <sk-icon *ngIf="type === 'neutral'" icon="help"></sk-icon>-->
  <!--    <sk-icon *ngIf="type === 'special'" icon="stars"></sk-icon>-->
  <!--  </span>-->
  <span class="alert__body">
    <ng-content></ng-content>
  </span>
</div>
