<ui-top-bar [isFullWidth]="true" name="Table">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
  <ui-button (buttonClick)="onToggleClickable()" type="primary">Toggle Selectable</ui-button>
  <ui-button (buttonClick)="onToggleCheckable()" type="dark">Toggle Checkable</ui-button>
  <ui-button (buttonClick)="onToggleStriped()" type="info">Toggle Striped</ui-button>
  <ui-button (buttonClick)="onToggleEmpty()" type="neutral">Toggle Empty</ui-button>
</ui-top-bar>

<ui-table
  (checkedRowsChange)="onCheckedRowsChange()"
  (selectRow)="onSelectRow($event)"
  (sortColumn)="onSortColumn($event)"
  [(checkedRows)]="checkedRows"
  [actions]="actions"
  [canCheckRow]="canCheckRow"
  [canSelectRow]="canSelectRow"
  [columns]="columns"
  [isStriped]="isStriped"
  [rows]="isEmpty ? [] : rows"
  [sortableColumns]="sortableColumns"
  [sortedColumn]="sortedColumn"
  [toggleAction]="toggleAction"
  dataName="Test Items"
></ui-table>
