<sk-top-bar [isFullWidth]="true" name="Table">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
  <ui-button (click)="onToggleClickable()" type="primary">Toggle Selectable</ui-button>
  <ui-button (click)="onToggleCheckable()" type="dark">Toggle Checkable</ui-button>
  <ui-button (click)="onToggleStriped()" type="info">Toggle Striped</ui-button>
  <ui-button (click)="onToggleEmpty()" type="neutral">Toggle Empty</ui-button>
</sk-top-bar>

<sk-table
  (checkedRowsChange)="onCheckedRowsChange()"
  (selectRow)="onSelectRow($event)"
  (sortColumn)="onSortColumn($event)"
  [(checkedRows)]="checkedRows"
  [actions]="actions"
  [canCheckRow]="canCheckRow"
  [canSelectRow]="canSelectRow"
  [columns]="columns"
  [isStriped]="isStriped"
  [rows]="isEmpty ? [] : rows"
  [sortableColumns]="sortableColumns"
  [sortedColumn]="sortedColumn"
  [toggleAction]="toggleAction"
  dataName="Test Items"
></sk-table>
