<div class="statistics-card">
  <div class="statistics-card__body">
    <div class="statistics-card__statistic">
      <span class="statistics-card__amount">{{ statistic }}</span>
      <span *ngIf="description" class="statistics-card__description">{{ description }}</span>
    </div>
    <span *ngIf="icon" class="statistics-card__icon">
      <sk-icon [icon]="icon"></sk-icon>
    </span>
  </div>
  <ui-button (buttonClick)="onClick()" [fullWidth]="true" icon="angle-right" type="info">
    {{ buttonText }}
  </ui-button>
</div>
