<ui-card name="Authentication">
  <ui-form (submitForm)="onSubmit()" [formGroup]="form">
    <ui-field name="username">
      <sk-label>Username</sk-label>
      <sk-text-input formControlName="username"></sk-text-input>
    </ui-field>

    <ui-field name="password">
      <sk-label>Password</sk-label>
      <sk-password-input formControlName="password"></sk-password-input>
    </ui-field>

    <ui-button [fullWidth]="true" [isSubmit]="true">Login</ui-button>
  </ui-form>

  <ui-bar [isVertical]="true" align="center" slot="footer">
    <ui-link>Forgot your password</ui-link>
    <ui-link>Forgot my email address</ui-link>
  </ui-bar>
</ui-card>
