<sk-card name="Authentication">
  <ui-form (submitForm)="onSubmit()" [formGroup]="form">
    <sk-field name="username">
      <sk-label>Username</sk-label>
      <sk-text-input formControlName="username"></sk-text-input>
    </sk-field>

    <sk-field name="password">
      <sk-label>Password</sk-label>
      <sk-password-input formControlName="password"></sk-password-input>
    </sk-field>

    <ui-button [fullWidth]="true" [isSubmit]="true">Login</ui-button>
  </ui-form>

  <sk-bar [isVertical]="true" align="center" slot="footer">
    <sk-link>Forgot your password</sk-link>
    <sk-link>Forgot my email address</sk-link>
  </sk-bar>
</sk-card>
