<sk-top-bar name="Pill"></sk-top-bar>

<sk-row>
  <ui-column>
    Styles
    <ui-bar>
      <ui-pill type="success">Success</ui-pill>
      <ui-pill icon="triangle-exclamation" type="warning">warning</ui-pill>
      <ui-pill type="error">error</ui-pill>
      <ui-pill type="info">Info</ui-pill>
      <ui-pill type="neutral">Neutral</ui-pill>
      <ui-pill type="special">Special</ui-pill>
      <ui-pill type="light">Light</ui-pill>
      <ui-pill type="dark">dark</ui-pill>
      <ui-pill type="primary">Primary</ui-pill>
      <ui-pill type="secondary">Secondary</ui-pill>
    </ui-bar>

    Variants
    <ui-bar>
      <ui-pill label="Label:">Pill with label</ui-pill>
      <ui-pill icon="star" type="special">Pill with icon left</ui-pill>
      <ui-pill alignIcon="right" icon="search" type="info">Pill with icon right</ui-pill>
      <ui-pill (selectPill)="onSelectPill()" alignIcon="right" icon="angle-right" type="secondary">
        Selectable pill
      </ui-pill>
    </ui-bar>
  </ui-column>
</sk-row>
