<sk-top-bar name="Data Table">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
  <sk-tab-group slot="tabs" activeTab="superheroes">
    <sk-tab name="superheroes">Superheroes</sk-tab>
    <sk-tab name="normal">Normal humans</sk-tab>
    <sk-tab name="settings">Settings</sk-tab>
  </sk-tab-group>
</sk-top-bar>

<sk-data-table
  [segments]="segments"
  [columns]="columns"
  dataName="Heroes"
  searchKey="name"
  [filters]="filterConfiguration"
  [toggleAction]="toggleAction"
  (request)="onRequest($event)"
  [response]="response"
></sk-data-table>
