<ui-top-bar name="Data Table">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
  <ui-tab-group activeTab="superheroes" slot="tabs">
    <ui-tab name="superheroes">Superheroes</ui-tab>
    <ui-tab name="normal">Normal humans</ui-tab>
    <ui-tab name="settings">Settings</ui-tab>
  </ui-tab-group>
</ui-top-bar>

<ui-data-table
  (request)="onRequest($event)"
  [columns]="columns"
  [filters]="filterConfiguration"
  [response]="response"
  [segments]="segments"
  [toggleAction]="toggleAction"
  dataName="Heroes"
  searchKey="name"
></ui-data-table>
