<div class="date-input__container">
  <input
    (blur)="onTouched()"
    (ngModelChange)="onValueChange($event)"
    [class.date-input--error]="control.touched && control.invalid"
    [disabled]="isDisabled"
    [id]="name"
    [ngModel]="value ? (value | date: 'yyyy-MM-dd') : null"
    class="date-input"
    type="date"
  />
  <div (click)="onClear()" (keydown.enter)="onClear()" *ngIf="!!value" class="date-input__clear" tabindex="0">
    <ui-icon icon="close"></ui-icon>
  </div>
</div>

<ui-input-error *ngIf="control.touched && control.invalid">
  <ng-content select="[slot=error]"></ng-content>
</ui-input-error>
