<div (click)="onClick($event)" (keydown.enter)="onClick($event)" class="select-search" tabindex="-1">
  <div class="select-search__search-icon">
    <ui-icon icon="search"></ui-icon>
  </div>
  <input
    #input
    (ngModelChange)="onChange($event)"
    [ngModel]="query"
    class="select-search__input"
    placeholder="Filter items..."
    type="text"
  />
  <div (click)="onClear()" (keydown.enter)="onClear()" *ngIf="query" class="select-search__clear-icon" tabindex="0">
    <ui-icon icon="close"></ui-icon>
  </div>
</div>
