<div
  (click)="input.click()"
  (keydown.enter)="input.click()"
  [class.checkbox-input--disabled]="isDisabled"
  [class.checkbox-input--error]="control.touched && control.invalid"
  class="checkbox-input"
  tabindex="0"
>
  <input
    #input
    (blur)="onTouched()"
    (ngModelChange)="onValueChange($event)"
    [checked]="value"
    [disabled]="isDisabled"
    [id]="name"
    [ngModel]="value"
    class="checkbox-input__input"
    type="checkbox"
  />
  <span [class.checkbox-input__icon--checked]="value" class="checkbox-input__icon">
    <ui-icon *ngIf="value" icon="square-check" iconSet="regular"></ui-icon>
    <ui-icon *ngIf="!value" icon="square" iconSet="regular"></ui-icon>
  </span>
  <span class="checkbox-input__label">
    <!--    TODO : Fix label with <label for="id"></label>-->
    <ng-content></ng-content>
    <div *ngIf="control.touched && control.invalid" class="checkbox-input__error">
      <ui-input-error><ng-content select="[slot=error]"></ng-content></ui-input-error>
    </div>
  </span>
</div>
