<div class="sidebar-page">
  <div class="sidebar-page__header">
    <ng-content select="ui-header"></ng-content>
  </div>

  <main class="sidebar-page__body">
    <ng-content select="sk-sidebar"></ng-content>

    <div [class.sidebar-page__content--bottom-bar]="hasBottomBar$ | async" class="sidebar-page__content">
      <div #scroll class="sidebar-page__scrollable-content">
        <ng-content></ng-content>
      </div>
    </div>
  </main>
</div>

<!--TODO : Enable later-->
<!--<sk-notification-bar></sk-notification-bar>-->
