<sk-top-bar name="Form">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column>
    <sk-card name="Form Card">
      <sk-form [formGroup]="form" (submitForm)="onSubmit()">
        <sk-form-section-title>Personal Information</sk-form-section-title>
        <sk-field-group>
          <sk-field name="test-field-1">
            <sk-label>Test field 1</sk-label>
            <sk-input-description>Put in some text below, it's pretty simple</sk-input-description>
            <sk-text-input formControlName="text"></sk-text-input>
          </sk-field>

          <sk-field name="test-field-2">
            <sk-label>Second field</sk-label>
            <sk-input-description>Put in some text below, it's pretty simple</sk-input-description>
            <sk-text-input placeholder="Example placeholder" formControlName="text2"></sk-text-input>
          </sk-field>
        </sk-field-group>

        <sk-field name="test-field-3">
          <sk-label>Third field</sk-label>
          <sk-input-description>We exited the field group</sk-input-description>
          <sk-text-input formControlName="text3"></sk-text-input>
        </sk-field>

        <sk-field name="password">
          <sk-label>Password</sk-label>
          <sk-password-input formControlName="password"></sk-password-input>
        </sk-field>

        <sk-field name="number">
          <sk-label>Number field</sk-label>
          <sk-number-input formControlName="number"></sk-number-input>
        </sk-field>

        <sk-field name="textarea">
          <sk-label>Textarea</sk-label>
          <sk-textarea-input formControlName="textarea"></sk-textarea-input>
        </sk-field>

        <sk-field-group>
          <sk-field name="text-select">
            <sk-label>Text input for reference</sk-label>
            <sk-text-input formControlName="text5"></sk-text-input>
          </sk-field>
          <sk-field name="select">
            <sk-label>Select</sk-label>
            <sk-select-input formControlName="select">
              <sk-select-option *ngFor="let city of cities" [value]="city" [label]="city"></sk-select-option>
            </sk-select-input>
          </sk-field>
          <sk-field name="select2">
            <sk-label>Select</sk-label>
            <sk-select-input formControlName="select2" placeholder="Select one city">
              <sk-select-option value="abc123" label="ABC123"></sk-select-option>
              <sk-select-option value="def456" label="DEF456"></sk-select-option>
              <sk-select-option value="ghi789" label="GHI789"></sk-select-option>
            </sk-select-input>
          </sk-field>
        </sk-field-group>

        <sk-field-group>
          <sk-field name="multi-select">
            <sk-label>Multiselect</sk-label>
            <sk-multi-select-input formControlName="multiSelect">
              <sk-select-option *ngFor="let city of cities" [value]="city" [label]="city"></sk-select-option>
            </sk-multi-select-input>
          </sk-field>
          <sk-field name="multi-select2">
            <sk-label>Multiselect</sk-label>
            <sk-multi-select-input formControlName="multiSelect2">
              <sk-select-option *ngFor="let city of cities" [value]="city" [label]="city"></sk-select-option>
            </sk-multi-select-input>
          </sk-field>
          <sk-field name="multi-select3">
            <sk-label>Multiselect</sk-label>
            <sk-multi-select-input formControlName="multiSelect3" placeholder="Select cities">
              <sk-select-option *ngFor="let city of cities" [value]="city" [label]="city"></sk-select-option>
            </sk-multi-select-input>
          </sk-field>
        </sk-field-group>

        <sk-field-group>
          <sk-field name="text4">
            <sk-label>Text field to check height</sk-label>
            <sk-text-input formControlName="text4"></sk-text-input>
          </sk-field>

          <sk-field name="date">
            <sk-label>Date field</sk-label>
            <sk-date-input formControlName="date"></sk-date-input>
          </sk-field>

          <sk-field name="time">
            <sk-label>Time</sk-label>
            <sk-time-input formControlName="time"></sk-time-input>
          </sk-field>
        </sk-field-group>

        <sk-field name="file">
          <sk-label>File input</sk-label>
          <sk-file-input formControlName="files"></sk-file-input>
        </sk-field>

        <sk-field name="radio">
          <sk-label>Choose from radio</sk-label>
          <sk-radio-input formControlName="radio">
            <sk-radio-option value="abc123">Option 1</sk-radio-option>
            <sk-radio-option value="def456">Option 2</sk-radio-option>
            <sk-radio-option value="ghi789">Option 3</sk-radio-option>
          </sk-radio-input>
        </sk-field>

        <sk-field name="radio2">
          <sk-label>Choose from radio (vertical)</sk-label>
          <sk-radio-input formControlName="radio2" [isVertical]="true">
            <sk-radio-option value="abc123">Option 1</sk-radio-option>
            <sk-radio-option value="def456">Option 2</sk-radio-option>
            <sk-radio-option value="ghi789">Option 3</sk-radio-option>
          </sk-radio-input>
        </sk-field>

        <sk-field name="radio3">
          <sk-label>Choose from advanced radio</sk-label>
          <sk-radio-input formControlName="radio3">
            <sk-advanced-radio-option label="Option 1" value="abc123">Body of Option 1</sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 2" value="def456" type="success"
              >Lorem Ipsum Dolor bla bla bla bla
            </sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 3" value="ghi789" type="error">
              Body of Option 1
            </sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 4" value="jkl123" type="warning">
              Body of Option 1
            </sk-advanced-radio-option>
          </sk-radio-input>
        </sk-field>

        <sk-field name="radio4">
          <sk-label>Choose from advanced radio (vertical)</sk-label>
          <sk-radio-input formControlName="radio4" [isVertical]="true">
            <sk-advanced-radio-option label="Option 1" value="abc123">Body of Option 1</sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 2" value="def456" type="success"
              >Lorem Ipsum Dolor bla bla bla bla
            </sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 3" value="ghi789" type="error">
              Body of Option 1
            </sk-advanced-radio-option>
            <sk-advanced-radio-option label="Option 4" value="jkl123" type="warning">
              Body of Option 1
            </sk-advanced-radio-option>
          </sk-radio-input>
        </sk-field>
      </sk-form>
    </sk-card>
  </sk-column>
</sk-row>

<sk-bottom-bar>
  <sk-button (click)="onSubmit()">Submit Form</sk-button>
</sk-bottom-bar>
