<sk-top-bar name="Bar">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column>
    Left (default)
    <sk-bar>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
    </sk-bar>

    Center
    <sk-bar align="center">
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
    </sk-bar>

    Right
    <sk-bar align="right">
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
    </sk-bar>

    Space-between
    <sk-bar align="space-between">
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
      <sk-button type="neutral" icon="bars-staggered"></sk-button>
    </sk-bar>

    Nested Space-between
    <sk-bar align="space-between">
      <sk-bar>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
      </sk-bar>
      <sk-bar>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
      </sk-bar>
      <sk-bar>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
        <sk-button type="neutral" icon="bars-staggered"></sk-button>
      </sk-bar>
    </sk-bar>
  </sk-column>
</sk-row>
