<sk-top-bar name="Bar">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column>
    Left (default)
    <sk-bar>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
    </sk-bar>

    Center
    <sk-bar align="center">
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
    </sk-bar>

    Right
    <sk-bar align="right">
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
    </sk-bar>

    Space-between
    <sk-bar align="space-between">
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
      <ui-button icon="bars-staggered" type="neutral"></ui-button>
    </sk-bar>

    Nested Space-between
    <sk-bar align="space-between">
      <sk-bar>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
      </sk-bar>
      <sk-bar>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
      </sk-bar>
      <sk-bar>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
        <ui-button icon="bars-staggered" type="neutral"></ui-button>
      </sk-bar>
    </sk-bar>
  </sk-column>
</sk-row>
