<div
  (click)="onTouched()"
  [class.select-input--collapsed]="!showOptions"
  [class.select-input--disabled]="isDisabled"
  [class.select-input--error]="hasError && !showOptions"
  [class.select-input--no-error]="hasNoError"
  class="select-input"
>
  <div
    #selectBox
    (click)="onToggleShowOptions()"
    (keydown.enter)="onToggleShowOptions()"
    [class.select-input__select--disabled]="isDisabled"
    [class.select-input__select--error]="hasError"
    [class.select-input__select--expanded]="showOptions"
    class="select-input__select"
    tabindex="0"
  >
    <div [class.select-input__select-label--wide]="isNotClearable" class="select-input__select-label">
      <span *ngIf="!value" class="select-input__placeholder">{{ placeholder }}</span>
      <ng-container *ngIf="!!selectedOption && !!value">{{ selectedOption.label }}</ng-container>
    </div>

    <div (click)="onClear($event)" *ngIf="value && !isNotClearable && !isDisabled" class="select-input__clear-icon">
      <ui-icon icon="close"></ui-icon>
    </div>

    <div class="select-input__expand-icon">
      <ui-icon *ngIf="!showOptions" icon="angle-down"></ui-icon>
      <ui-icon *ngIf="showOptions" icon="angle-up"></ui-icon>
    </div>
  </div>

  <div *ngIf="showOptions" class="select-input__options">
    <div *ngIf="contentOptions.length > scrollThreshold" class="select-input__options-search">
      <sk-select-search (clear)="onSearchClear()" (search)="onSearch($event)"></sk-select-search>
    </div>
    <div #scrollBody class="select-input__options-body">
      <sk-select-option
        (selectOption)="onSelectOption(option)"
        *ngFor="let option of renderedOptions"
        [description]="option.description"
        [isSelected]="option.value === value"
        [label]="option.label"
        [value]="option.value"
      ></sk-select-option>

      <div *ngIf="noResults" class="select-input__empty-body">Geen resultaten gevonden...</div>
    </div>
  </div>
</div>

<sk-input-error *ngIf="hasError && !showOptions">
  <ng-content select="[slot=error]"></ng-content>
</sk-input-error>
