<sk-top-bar name="Statistics Card">
  <sk-breadcrumbs [breadcrumbs]="breadcrumbs"></sk-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
</sk-row>
