<sk-row>
  <sk-column>
    <sk-jumbotron
      name="Statistics Card"
      description="Welcome to the dashboard. Many things to see, yet none of them important..."
    ></sk-jumbotron>
  </sk-column>
</sk-row>

<sk-row>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card
      statistic="25,-"
      icon="euro-sign"
      description="Revenue over the past year"
      buttonText="See them now"
    ></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
  <sk-column width="narrow">
    <sk-statistics-card statistic="4" description="Statistic Cards" buttonText="See them now"></sk-statistics-card>
  </sk-column>
</sk-row>
