<sk-row>
  <ui-column>
    <sk-jumbotron
      description="Welcome to the dashboard. Many things to see, yet none of them important..."
      name="Statistics Card"
    ></sk-jumbotron>
  </ui-column>
</sk-row>

<sk-row>
  <ui-column width="narrow">
    <ui-statistics-card buttonText="See them now" description="Statistic Cards" statistic="4"></ui-statistics-card>
  </ui-column>
  <ui-column width="narrow">
    <ui-statistics-card buttonText="See them now" description="Statistic Cards" statistic="4"></ui-statistics-card>
  </ui-column>
  <ui-column width="narrow">
    <ui-statistics-card
      buttonText="See them now"
      description="Revenue over the past year"
      icon="euro-sign"
      statistic="25,-"
    ></ui-statistics-card>
  </ui-column>
  <ui-column width="narrow">
    <ui-statistics-card buttonText="See them now" description="Statistic Cards" statistic="4"></ui-statistics-card>
  </ui-column>
  <ui-column width="narrow">
    <ui-statistics-card buttonText="See them now" description="Statistic Cards" statistic="4"></ui-statistics-card>
  </ui-column>
  <ui-column width="narrow">
    <ui-statistics-card buttonText="See them now" description="Statistic Cards" statistic="4"></ui-statistics-card>
  </ui-column>
</sk-row>
