<sk-top-bar name="Button"></sk-top-bar>

<sk-row>
  <sk-column>
    Styles
    <ui-bar>
      <ui-button>Click me</ui-button>
      <ui-button type="info">Click me</ui-button>
      <ui-button type="success">Click me</ui-button>
      <ui-button type="warning">Click me</ui-button>
      <ui-button type="error">Click me</ui-button>
      <ui-button type="light">Click me</ui-button>
      <ui-button type="dark">Click me</ui-button>
      <ui-button type="special">Click me</ui-button>
      <ui-button type="neutral">Click me</ui-button>
      <ui-button type="secondary">Click me</ui-button>
    </ui-bar>
    Icons
    <ui-bar>
      <ui-button icon="skull">Icon default</ui-button>
      <ui-button alignIcon="right" icon="skull">Icon right</ui-button>
      <ui-button alignIcon="left" icon="skull">Icon right</ui-button>
    </ui-bar>

    Disabled
    <ui-bar>
      <ui-button [disabled]="true">Click me</ui-button>
      <ui-button [disabled]="true" type="info">Click me</ui-button>
      <ui-button [disabled]="true" type="success">Click me</ui-button>
      <ui-button [disabled]="true" type="warning">Click me</ui-button>
      <ui-button [disabled]="true" type="error">Click me</ui-button>
      <ui-button [disabled]="true" type="light">Click me</ui-button>
      <ui-button [disabled]="true" type="dark">Click me</ui-button>
      <ui-button [disabled]="true" type="special">Click me</ui-button>
      <ui-button [disabled]="true" type="neutral">Click me</ui-button>
      <ui-button [disabled]="true" type="secondary">Click me</ui-button>
    </ui-bar>

    Size
    <ui-bar [isVertical]="true">
      <ui-button [compact]="true">I am compact</ui-button>
      <ui-button [fullWidth]="true">Full width button</ui-button>
      <ui-button [compact]="true" [fullWidth]="true">Full width compact button</ui-button>
    </ui-bar>

    Shape
    <ui-bar>
      <ui-button [isSharp]="true">I am edgy</ui-button>
      <ui-button [isSharp]="true" type="light">I am edgy</ui-button>
      <ui-button [disabled]="true" [isSharp]="true" type="light">I am edgy and disabled</ui-button>
    </ui-bar>
  </sk-column>
</sk-row>
