@use "@standardkit/ui/borders";
@use "@standardkit/ui/colors";
@use "@standardkit/ui/fonts";

.tag {
  display: inline-flex;
  border-radius: borders.$border-radius-m;
  background-color: colors.$gray-20;
  line-height: fonts.$text-line-height-m;
  color: colors.$gray-50;
  font-size: fonts.$text-size-m;
  font-weight: 600;
  user-select: none;
}

.tag__icon {
  padding: 8px 10px;

  &--left {
    margin-right: -10px;
  }

  &--right {
    margin-left: -10px;
  }
}

.tag--selectable {
  cursor: pointer;

  &:hover {
    filter: brightness(95%);
  }

  &:active {

    .tag__icon {
      transform: translate(1px, 1px);
    }
  }
}

.tag__content {
  padding: 8px 16px;
}
