<span
  (click)="onSelectTag($event)"
  (keydown.enter)="onSelectTag($event)"
  [attr.tabindex]="selectTag.observed ? 0 : undefined"
  [class.tag--selectable]="selectTag.observed"
  class="tag"
>
  <span *ngIf="icon && alignIcon === 'left'" class="tag__icon tag__icon--left">
    <ui-icon [icon]="icon"></ui-icon>
  </span>
  <span class="tag__content">
    <ng-content></ng-content>
  </span>
  <span *ngIf="icon && alignIcon === 'right'" class="tag__icon tag__icon--right">
    <ui-icon [icon]="icon"></ui-icon>
  </span>
</span>
