<div class="pagination">
  <span class="pagination__limit">
    <span class="pagination__limit-text">
      <span>Items per page:</span>
      <select (ngModelChange)="onLimitChange($event)" [ngModel]="state.limit" class="pagination__limit-select">
        <option *ngFor="let option of limitOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </span>
    <span *ngIf="state.numberOfRows > 0" class="pagination__limit-summary">
      {{ state.offset + 1 }}-{{ state.offset + state.numberOfRows }}
      <ng-container *ngIf="state.totalNumberOfRows !== -1">
        of {{ state.totalNumberOfRows }} item{{ state.totalNumberOfRows > 1 ? "s" : "" }}
      </ng-container>
      <ng-container *ngIf="state.totalNumberOfRows === -1">
        of
        <ng-container *ngIf="state.numberOfRows < state.limit">
          {{ state.offset + state.numberOfRows }}
        </ng-container>
        <ng-container *ngIf="state.numberOfRows >= state.limit">unknown number of</ng-container>
        item{{ state.totalNumberOfRows > 1 ? "s" : "" }}
      </ng-container>
    </span>
  </span>

  <span class="pagination__pages">
    <span class="pagination__pages-prefix">page</span>
    <input
      [(ngModel)]="currentPage"
      [max]="state.totalNumberOfPages"
      class="pagination__pages-input"
      min="1"
      type="number"
    />
    <span *ngIf="state.totalNumberOfPages !== -1" class="pagination__pages-total">
      of {{ state.totalNumberOfPages }} page{{ state.totalNumberOfPages ? "s" : "" }}
    </span>
    <span *ngIf="state.totalNumberOfPages === -1" class="pagination__pages-total">
      of
      <ng-container *ngIf="state.numberOfRows < state.limit">{{ state.currentPage }}</ng-container>
      <ng-container *ngIf="state.numberOfRows >= state.limit">unknown number of</ng-container>
      page{{ state.totalNumberOfPages ? "s" : "" }}
    </span>
    <span class="pagination__pages-navigation">
      <button
        (click)="onPreviousPage()"
        [disabled]="state.offset === 0"
        class="pagination__button pagination__button--previous"
      >
        <ui-icon icon="angle-left"></ui-icon>
      </button>
      <button
        (click)="onNextPage()"
        [disabled]="isNextPageDisabled()"
        class="pagination__button pagination__button--next"
      >
        <ui-icon icon="angle-right"></ui-icon>
      </button>
    </span>
  </span>
</div>
