@use "@standardkit/ui/colors";
@use "@standardkit/ui/grid";

.bottom-bar {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-left: 300px;
  box-shadow: 0 2px 16px 8px colors.$shadow;
  background-color: colors.$white;
  width: calc(100% - 300px); // Sidebar size

  &--collapsed {
    width: calc(100% - 86px); // Sidebar size
  }
}

.bottom-bar__container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  max-width: grid.$max-width;
}

.bottom-bar__right,
.bottom-bar__left {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  align-items: center;
}
