<div class="top-bar">
  <div [class.top-bar__container--full-width]="isFullWidth" class="top-bar__container">
    <div class="top-bar__title">
      <ng-content select="ui-breadcrumbs"></ng-content>
      <h1 *ngIf="name" class="top-bar__name">{{ name }}</h1>
    </div>

    <span class="top-bar__actions">
      <ng-content></ng-content>
      <ng-content select="[slot=actions]"></ng-content>
    </span>
  </div>
  <div class="top-bar__tabs">
    <ng-content select="[slot=tabs]"></ng-content>
  </div>
</div>
