<div class="filter__buttons">
  <sk-button type="light" (click)="showModal = true" [disabled]="showModal || isLoading" icon="filter">
    Filter
  </sk-button>
  <sk-button *ngIf="filters.length > 0" type="light" icon="xmark" [disabled]="isLoading" (click)="onTagClear()">
    {{ filters.length }}
  </sk-button>
</div>
<sk-modal
  *ngIf="showModal"
  (closeModal)="onCancel()"
  [containsOverflow]="true"
  [name]="'Filter in \'' + dataName + '\''"
>
  <sk-form [formGroup]="form">
    <sk-field *ngFor="let item of filterItems" [name]="'filter-' + item.key">
      <sk-label>{{ item.label }}</sk-label>

      <!--TODO : Add input skeleton while loading-->
      <sk-select-input
        *ngIf="(item.type === 'single-select' || item.type === 'checkbox') && item.state.isSuccess"
        [formControlName]="item.key"
        [placeholder]="'Selecteer ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let option of item.values">
          <sk-select-option *ngIf="option.value" [value]="option.value" [label]="option.label"></sk-select-option>
        </ng-container>
      </sk-select-input>

      <!--TODO : Add input skeleton while loading-->
      <sk-multi-select-input
        *ngIf="item.type === 'multi-select' && item.state.isSuccess"
        [formControlName]="item.key"
        [placeholder]="'Select ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let filterValue of item.values">
          <sk-select-option
            *ngIf="filterValue.value"
            [value]="filterValue.value"
            [label]="filterValue.label"
          ></sk-select-option>
        </ng-container>
      </sk-multi-select-input>

      <!--TODO : Field group for pseudo range filters (from, to date) configurable in filterConfiguration-->
      <sk-date-input *ngIf="item.type === 'date'" [formControlName]="item.key"></sk-date-input>
    </sk-field>
  </sk-form>

  <sk-bar slot="footer" align="space-between">
    <sk-button type="light" (click)="onCancel()" icon="xmark" alignIcon="left">Cancel</sk-button>
    <sk-bar>
      <sk-button type="light" icon="rotate" (click)="onReset()">Reset</sk-button>
      <sk-button icon="filter" (click)="onApplyFilters()">Apply</sk-button>
    </sk-bar>
  </sk-bar>
</sk-modal>
