<div class="filter__buttons">
  <ui-button (buttonClick)="showModal = true" [disabled]="showModal || isLoading" icon="filter" type="light">
    Filter
  </ui-button>
  <ui-button (buttonClick)="onTagClear()" *ngIf="filters.length > 0" [disabled]="isLoading" icon="xmark" type="light">
    {{ filters.length }}
  </ui-button>
</div>
<ui-modal
  (closeModal)="onCancel()"
  *ngIf="showModal"
  [containsOverflow]="true"
  [name]="'Filter in \'' + dataName + '\''"
>
  <ui-form [formGroup]="form">
    <sk-field *ngFor="let item of filterItems" [name]="'filter-' + item.key">
      <sk-label>{{ item.label }}</sk-label>

      <!--TODO : Add input skeleton while loading-->
      <sk-select-input
        *ngIf="(item.type === 'single-select' || item.type === 'checkbox') && !item.isPending"
        [formControlName]="item.key"
        [placeholder]="'Selecteer ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let option of item.values">
          <sk-select-option *ngIf="option.value" [label]="option.label" [value]="option.value"></sk-select-option>
        </ng-container>
      </sk-select-input>

      <!--TODO : Add input skeleton while loading-->
      <sk-multi-select-input
        *ngIf="item.type === 'multi-select' && !item.isPending"
        [formControlName]="item.key"
        [placeholder]="'Select ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let filterValue of item.values">
          <sk-select-option
            *ngIf="filterValue.value"
            [label]="filterValue.label"
            [value]="filterValue.value"
          ></sk-select-option>
        </ng-container>
      </sk-multi-select-input>

      <!--TODO : Field group for pseudo range filters (from, to date) configurable in filterConfiguration-->
      <ui-date-input *ngIf="item.type === 'date'" [formControlName]="item.key"></ui-date-input>
    </sk-field>
  </ui-form>

  <ui-bar align="space-between" slot="footer">
    <ui-button (buttonClick)="onCancel()" alignIcon="left" icon="xmark" type="light">Cancel</ui-button>
    <ui-bar>
      <ui-button (buttonClick)="onReset()" icon="rotate" type="light">Reset</ui-button>
      <ui-button (buttonClick)="onApplyFilters()" icon="filter">Apply</ui-button>
    </ui-bar>
  </ui-bar>
</ui-modal>
