<div class="filter__buttons">
  <ui-button (click)="showModal = true" [disabled]="showModal || isLoading" icon="filter" type="light">
    Filter
  </ui-button>
  <ui-button (click)="onTagClear()" *ngIf="filters.length > 0" [disabled]="isLoading" icon="xmark" type="light">
    {{ filters.length }}
  </ui-button>
</div>
<sk-modal
  (closeModal)="onCancel()"
  *ngIf="showModal"
  [containsOverflow]="true"
  [name]="'Filter in \'' + dataName + '\''"
>
  <ui-form [formGroup]="form">
    <sk-field *ngFor="let item of filterItems" [name]="'filter-' + item.key">
      <sk-label>{{ item.label }}</sk-label>

      <!--TODO : Add input skeleton while loading-->
      <sk-select-input
        *ngIf="(item.type === 'single-select' || item.type === 'checkbox') && item.state.isSuccess"
        [formControlName]="item.key"
        [placeholder]="'Selecteer ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let option of item.values">
          <sk-select-option *ngIf="option.value" [label]="option.label" [value]="option.value"></sk-select-option>
        </ng-container>
      </sk-select-input>

      <!--TODO : Add input skeleton while loading-->
      <sk-multi-select-input
        *ngIf="item.type === 'multi-select' && item.state.isSuccess"
        [formControlName]="item.key"
        [placeholder]="'Select ' + item.label.toLowerCase()"
      >
        <ng-container *ngFor="let filterValue of item.values">
          <sk-select-option
            *ngIf="filterValue.value"
            [label]="filterValue.label"
            [value]="filterValue.value"
          ></sk-select-option>
        </ng-container>
      </sk-multi-select-input>

      <!--TODO : Field group for pseudo range filters (from, to date) configurable in filterConfiguration-->
      <sk-date-input *ngIf="item.type === 'date'" [formControlName]="item.key"></sk-date-input>
    </sk-field>
  </ui-form>

  <sk-bar align="space-between" slot="footer">
    <ui-button (click)="onCancel()" alignIcon="left" icon="xmark" type="light">Cancel</ui-button>
    <sk-bar>
      <ui-button (click)="onReset()" icon="rotate" type="light">Reset</ui-button>
      <ui-button (click)="onApplyFilters()" icon="filter">Apply</ui-button>
    </sk-bar>
  </sk-bar>
</sk-modal>
