<sk-top-bar name="Card">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column>
    <ui-card name="A Card">
      <sk-pill label="slot:" slot="title" type="info">title</sk-pill>
      <ui-button icon="angle-right" slot="actions" type="info">Action slot</ui-button>
      <ui-accordion>
        <ui-accordion-item name="Accordion">Content</ui-accordion-item>
        <ui-accordion-item name="Inside the">Content</ui-accordion-item>
        <ui-accordion-item name="Card Body">Content</ui-accordion-item>
      </ui-accordion>
      <sk-bar align="space-between" slot="footer">
        <sk-link url="/common/alert">Back to alert</sk-link>
        <ui-button icon="save" type="success">Save</ui-button>
      </sk-bar>
    </ui-card>
  </sk-column>
</sk-row>
