<sk-top-bar name="Stepper">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
</sk-top-bar>

<sk-row>
  <ui-column>
    <ui-stepper>
      <ui-stepper-item name="Information" route="/common/stepper"></ui-stepper-item>
      <ui-stepper-item name="Personal" route="/common/stepper"></ui-stepper-item>
      <ui-stepper-item [isActive]="true" name="Payment" route="/common/stepper"></ui-stepper-item>
      <ui-stepper-item name="Save & Exit"></ui-stepper-item>
    </ui-stepper>
  </ui-column>
</sk-row>
