<sk-top-bar name="Stepper">
  <ui-breadcrumbs [breadcrumbs]="breadcrumbs"></ui-breadcrumbs>
</sk-top-bar>

<sk-row>
  <sk-column>
    <sk-stepper>
      <sk-stepper-item name="Information" route="/common/stepper"></sk-stepper-item>
      <sk-stepper-item name="Personal" route="/common/stepper"></sk-stepper-item>
      <sk-stepper-item [isActive]="true" name="Payment" route="/common/stepper"></sk-stepper-item>
      <sk-stepper-item name="Save & Exit"></sk-stepper-item>
    </sk-stepper>
  </sk-column>
</sk-row>
