<div [class.sidebar--collapsed]="isCollapsed" class="sidebar">
  <div [class.sidebar__scroll--collapsed]="isCollapsed" class="sidebar__scroll">
    <sk-navigation-item
      *ngFor="let navigationItem of navigationItems"
      [children]="navigationItem.children"
      [icon]="navigationItem.icon"
      [isCollapsed]="isCollapsed"
      [isExact]="!!navigationItem.isExact"
      [name]="navigationItem.name"
      [route]="navigationItem.route"
    ></sk-navigation-item>
  </div>
  <div [class.sidebar__footer--collapsed]="isCollapsed" class="sidebar__footer">
    <button (click)="onToggleCollapsed()" [class.sidebar__collapse--collapsed]="isCollapsed" class="sidebar__collapse">
      <ui-icon *ngIf="!isCollapsed" icon="angles-left"></ui-icon>
      <ui-icon *ngIf="isCollapsed" icon="angles-right"></ui-icon>
    </button>
  </div>
</div>
