@use "@standardkit/ui/colors";
@import "normalize.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: colors.$white;
}

// Todo, figure out what to do with these (probably remove)

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  border: 1px dotted colors.$gray-30;
  background-color: colors.$gray-10;

  > * {
    visibility: hidden;
  }
}

.cdk-drag-preview .cdk-drag {
  transform: translateX(4rem);
}
