// Font settings
$title-font: var(--theme-font-title);
$text-font: var(--theme-font-text);

// Text sizes
$text-size-s: 12px;
$text-size-m: 14px;
$text-size-l: 16px;
$text-size-xl: 18px;
$text-line-height-s: 16px;
$text-line-height-m: 18px;
$text-line-height-l: 22px;
$text-line-height-xl: 26px;

// Title sizes
$title-size-xs: 14px;
$title-size-s: 16px;
$title-size-m: 20px;
$title-size-l: 24px;
$title-size-xl: 28px;
$title-size-xxl: 32px;
$title-line-height-xs: 20px;
$title-line-height-s: 24px;
$title-line-height-m: 30px;
$title-line-height-l: 36px;
$title-line-height-xl: 42px;
$title-line-height-xxl: 48px;
