<button
  (click)="onClick()"
  (keydown.enter)="onClick()"
  [class.button--compact]="compact"
  [class.button--dark]="type === 'dark'"
  [class.button--error]="type === 'error'"
  [class.button--full-width]="fullWidth"
  [class.button--info]="type === 'info'"
  [class.button--light]="type === 'light'"
  [class.button--neutral]="type === 'neutral'"
  [class.button--no-shadow]="noShadow"
  [class.button--primary]="type === 'primary'"
  [class.button--secondary]="type === 'secondary'"
  [class.button--sharp-borders]="isSharp"
  [class.button--special]="type === 'special'"
  [class.button--success]="type === 'success'"
  [class.button--warning]="type === 'warning'"
  [disabled]="disabled"
  [type]="isSubmit ? 'submit' : 'button'"
  class="button"
  tabindex="0"
>
  <span *ngIf="icon && alignIcon === 'left'" class="button__icon">
    <ui-icon [flipX]="flipIcon" [iconSet]="iconSet" [icon]="icon"></ui-icon>
  </span>
  <ng-content></ng-content>
  <span *ngIf="icon && alignIcon === 'right'" class="button__icon">
    <ui-icon [flipX]="flipIcon" [iconSet]="iconSet" [icon]="icon"></ui-icon>
  </span>
</button>
